- WulinMaster::GridState.create_default(@current_user.id, grid.name)

.grid_states_switcher
  =label_tag "grid_states", "Configuration:"
  =select_tag "grid_states", options_for_select(grid_states_options(@current_user.id, grid.name))
  %a{:href => "javascript:void(0);", :class => "configure_icon_s manage"}


:javascript
  $(function(){
    $("a.manage").click(function(){
      $.get('wulin_master/grid_states/manage?' + "grid=#{grid.name}", function(data){
        $('body').append(data);
        var scope = $(".states_manage_form");

        scope.dialog({
          height: 250,
          width: 400,
          show: "blind",
          modal: true,
          close: function(event, ui) {
            scope.dialog('destroy');
            scope.remove();
          }
        });
      });
    });
  });