- WulinMaster::GridState.create_default(current_user.id, grid.name)

.grid_states_switcher.input-field
  -# =label_tag "grid_states", "Custom Views:"
  -# =select_tag "grid_states", options_for_select(grid_states_options(current_user.id, grid.name))
  -# %a{:href => "javascript:void(0);", :class => "configure_icon_s manage"}
  -# %a{:href => "javascript:void(0);", :class => "reset_icon_s reset"}

  =select_tag "grid_states", options_for_select(grid_states_options(current_user.id, grid.name))
  -# %a{:href => "javascript:void(0);", :class => "configure_icon_s manage"}

:javascript

  $(function(){
    $('.grid_states_switcher select').material_select();

    /*
    $("a.manage").click(function(){
      $.get('wulin_master/grid_states_manages/manage?' + "grid=#{grid.name}", function(data){
        $('body').append(data);
        var scope = $(".states_manage_form");

        scope.dialog({
          height: 250,
          width: 400,
          show: "blind",
          modal: true,
          close: function(event, ui) {
            scope.dialog('destroy');
            scope.remove();
          }
        });
      });
    });

    $('.grid_states_switcher a.reset').on('click', function(){
      if (confirm('Are you sure that you want to reset the default view?')) {
        $.post('#{wulin_master_grid_states_manages_reset_default_path}', {_method: 'PUT', grid_name: '#{grid.name}', user_id: '#{current_user.id}'}, function(data) {
          if (data == 'ok') {
            load_page(History.getState().url);
          } else {
            displayErrorMessage(data);
          }
        });
      }
    });
    */
  });
