pkg/*
*.gem
.bundle
*.log
spec/tmp/*
doc
.DS_Store
.ruby-version
spec/wulin_app/db/log/*.log
spec/wulin_app/tmp/
spec/wulin_app/.sass-cache
spec/wulin_app/.ruby-version
spec/wulin_app/config/database.yml
