.toolbar-select.hide(data-grid="#{@grid_name}")
  %ul
    - toolbar_items.each do |item|
      %li.toolbar_item
        = link_to 'javascript:void(0);', item.anchor_tag_options do
          %i.material-icons= item.icon.presence || 'help'