@import 'base';

.chzn-container {
  vertical-align: middle;
  .chzn-choices {
    background: none;
    border: 0;
    .search-choice {
      border: none;
      margin-top: 0;
      background-image: none;
      background-color: $tag-color;
      .search-choice-close {
        height: 12px;
      }
    }
    .search-field {
      border-bottom: none;
      input[type=text] {
        padding: 0;
        color: $text-color;
        border: 0;
        box-shadow: none;
        &:focus:not([readonly]) {
          padding-left: 8px;
          border-bottom: none !important;
          box-shadow: none !important;
        }
      }
    }
  }
  .chzn-drop {
    width: 100% !important;
    z-index: 100000;
    border: $border-color;
    border-radius: 0;
    li {
      padding: 8px 16px 8px 3px;
    }
    li.highlighted {
      color: $text-color;
      background-color: color('grey', 'lighten-4');
    }
    .chzn-search {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      input {
        height: 32px;
        padding: 0 18px 0 3px;
        border: 0;
        background: none;
      }
      input[type=text]:focus:not([readonly]) {
        border-bottom: none !important;
        box-shadow: none !important;
      }
    }
  }
  .chzn-single {
    padding: 0;
    border: 0;
    border-radius: 0;
    background-image: none;
    background: none;
    div {
      background: none;
      border: 0;
    }
    span {
      font-size: $font-size-small;
      color: $text-color;
    }
  }
  .chzn-single-with-drop {
    padding-left: 3px;
  }
  .chzn-results li {
    line-height: 125%;
    padding: 5px 7px;
  }
  .chzn-results .disabled {
    color: $label-color;
  }
}

.chzn-container-active {
  .chzn-choices {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}

.chzn-container-multi {
  .chzn-choices {
    .search-field {
      .default {
        font-size: $font-size-small;
        color: $text-color;
      }
    }
  }
}

.chzn-container-single {
  .chzn-single {
    abbr {
      height: 10px;
    }
  }
}
