@import 'base';

select.chosen, select.chzn-select, select.chosen-select {
  display: block;
}

.chosen-container-single .chosen-single .chosen-default {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.chosen-container-single .chosen-single {
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  background: none;
  border: none;
  font-size: 15px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  background: none;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.chosen-container .chosen-drop {
  border-radius: 4px;
  border: 2px solid #eee;
  top: 50px;
}

.chosen-container-single .chosen-search input[type="text"] {
  width: calc(100% - 26px);
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 15px;
}

.chosen-container .chosen-results li {
  font-size: 15px;
  line-height: 20px;
}

.chosen-container .chosen-results li.highlighted {
  background-image: none;
  background: $main-color;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: image-url("chosen-sprite@2x.png") !important;
  }
}
