@import 'base';

select.chosen, select.chzn-select, select.chosen-select {
  display: block;
}

.chosen-container-single .chosen-single .chosen-default {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.chosen-container-single .chosen-single {
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  background: none;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  font-size: 15px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  background: none;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.chosen-container .chosen-drop {
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.chosen-container-single .chosen-search input[type="text"] {
  width: calc(100% - 26px);
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 15px;
}

.chosen-container .chosen-results li {
  font-size: 15px;
  line-height: 20px;
}

.chosen-container .chosen-results li.highlighted {
  background-image: none;
  background: $main-color;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: image-url("chosen-sprite@2x.png") !important;
  }
}

// .chzn-container {
//   vertical-align: middle;
//   .chzn-choices {
//     background: none;
//     border: 0;
//     .search-choice {
//       border: none;
//       margin-top: 0;
//       background-image: none;
//       background-color: $tag-color;
//       .search-choice-close {
//         height: 12px;
//       }
//     }
//     .search-field {
//       border-bottom: none;
//       input[type=text] {
//         padding: 0;
//         color: $text-color;
//         border: 0;
//         box-shadow: none;
//         &:focus:not([readonly]) {
//           padding-left: 8px;
//           border-bottom: none !important;
//           box-shadow: none !important;
//         }
//       }
//     }
//   }
//   .chzn-drop {
//     width: 100% !important;
//     z-index: 100000;
//     border: $border-color;
//     border-radius: 0;
//     li {
//       padding: 8px 16px 8px 3px;
//     }
//     li.highlighted {
//       color: $text-color;
//       background-color: color('grey', 'lighten-4');
//     }
//     .chzn-search {
//       box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
//       input {
//         height: 32px;
//         padding: 0 18px 0 3px;
//         border: 0;
//         background: none;
//       }
//       input[type=text]:focus:not([readonly]) {
//         border-bottom: none !important;
//         box-shadow: none !important;
//       }
//     }
//   }
//   .chzn-single {
//     padding: 0;
//     border: 0;
//     border-radius: 0;
//     background-image: none;
//     background: none;
//     div {
//       background: none;
//       border: 0;
//     }
//     span {
//       font-size: $font-size-small;
//       color: $text-color;
//     }
//   }
//   .chzn-single-with-drop {
//     padding-left: 3px;
//   }
//   .chzn-results li {
//     line-height: 125%;
//     padding: 5px 7px;
//   }
//   .chzn-results .disabled {
//     color: $label-color;
//   }
// }
//
// .chzn-container-active {
//   .chzn-choices {
//     box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
//   }
// }
//
// .chzn-container-multi {
//   .chzn-choices {
//     .search-field {
//       .default {
//         font-size: $font-size-small;
//         color: $text-color;
//       }
//     }
//   }
// }
//
// .chzn-container-single {
//   .chzn-single {
//     abbr {
//       height: 10px;
//     }
//   }
// }
