@import "mixins";

$margin: 10px;
$app_title_color: #9a9a9c;
$background_color: #d3dadf;

// Old color
// !menu_background_color = #e0ecfa
$menu_background_color: #dee3ea;
$menu_text_color: #475a66;
$menu_text_color: black;
$menu_header_color: #475a66;
$menu_item_active_background: #092c51;
$menu_item_active_background: #4f81c8;
$menu_item_active_text: white;

$default_text_color: #333333;
