@import "mixins";
@import 'materialize/components/color';

$margin: 10px;
$app_title_color: #9a9a9c;

$menu_background_color: #efeff0;
$menu_text_color: #5d5957;
$menu_header_color: #5d5957;
$menu_item_active_background: #092c51;
$menu_item_active_background: #4f81c8;
$menu_item_active_text: white;

$default_text_color: #333333;

// Common

$main-color: color('blue', 'base');

$font-size-small: 12px;
$font-size-middle: 16px;
$font-size-large: 20px;

// Content

$nav-height: 48px;
$menu-width: 250px;
$background_color: white;

// Screen Content

$screen-loader-main-color: $main-color;
$screen-loader-sub-color: color('grey', 'lighten-3');
$screen-loader-size: 120px;

// Nitification

$notification-width: 300px;
$notification-padding: 13px 20px;
$notification-color: white;
$notification-bg-color: color('grey', 'darken-4');
$notification-box-shadow: 1px 2px 5px black;

// Confirm & Error Modal

$info-modal-width: 400px;

// Form

$error-color: color('red', 'base');
$error-max-width: 85px;
$form-title-padding: 16px;
$form-submit-padding: 24px;

// Grid Header

$grid-header-height: 70px;
$grid-header-multi-selected-bg-color: rgba($main-color, .1);
$grid-header-title-color: color('grey', 'darken-2');
$grid-header-selection-info-color: $main-color;

$grid-states-switcher-color: color('grey', 'base');
$grid-states-switcher-width: 200px;
$grid-states-modal-width: 500px;

$toolbar-global-color: $main-color;
$toolbar-select-color: color('grey', 'darken-2');

// Grid Table Header

$filter-green: color('green', 'base');

// Grid Cell

$grid-border-color: color('grey', 'lighten-2');
$grid-row-height: 25px;
$grid-row-odd-bg-color: color('grey', 'lighten-4');
$grid-cell-selected-bg-color: rgba($main-color, .1);
$grid-cell-active-border-color: $main-color;
$grid-cell-editable-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$grid-cell-loading-margin: 10px;
$grid-cell-odd-filtered-bg-color: rgba(color('green', 'base'), .1);
$grid-cell-even-filtered-bg-color: rgba(color('green', 'lighten-2'), .1);
$grid-cell-filtered-selected-bg-color: rgba(color('teal', 'lighten-1'), .2);
$grid-cell-odd-shimmer-color-1: rgba(color('blue-grey', 'lighten-3'), .3);
$grid-cell-odd-shimmer-color-2: rgba(color('blue-grey', 'lighten-3'), .1);
$grid-cell-even-shimmer-color-1: rgba(color('grey', 'lighten-2'), .3);
$grid-cell-even-shimmer-color-2: rgba(color('grey', 'lighten-2'), .1);

@keyframes shimmerCell{
  0%   { background-position: -500px 0 }
  100% { background-position: 500px 0 }
}

// Grid Editor

$grid-editor-textarea-height: 80px;
$grid-editor-textarea-editor-padding: 5px;
$grid-editor-textarea-editor-bg-color: white;
$grid-editor-textarea-editor-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$grid-editor-text-bg: none repeat scroll 0 0 transparent;

// Grid Column Picker

$columnpicker-li-padding: 12px;
$columnpicker-color: color('grey', 'base');
$columnpicker-divider-color: color('grey', 'lighten-2');
