@import "base";

body {
  background: $background_color;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0;
}

// Screen Container

#content {
  position: absolute;
  top: $nav-height;
  left: $menu-width;
  bottom: 0;
  right: 0;
  text-align: center;
}

#screen_content {
  text-align: left;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

// Screen Loader

#screen_content_loader_container {
  margin-left: 45%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#screen_content_loader {
  border: 8px solid $screen-loader-sub-color;
  border-top: 8px solid $screen-loader-main-color;
  border-radius: 50%;
  width: $screen-loader-size;
  height: $screen-loader-size;
  animation: spin 2s linear infinite;
}

// Notification

#notification-container {
  position: absolute;
  bottom: 0;
  left: 60%;
  margin-left: -250px;
  width: $notification-width;
  z-index: 1002;
  .notification {
    padding: $notification-padding;
    background: $notification-bg-color;
    box-shadow: $notification-box-shadow;
    color: $notification-color;
  }
}

// Confirm & Error Modal

.modal.info-modal {
  width: $info-modal-width;
  .modal-title {
    font-size: $font-size-large;
  }
  .modal-message {
    font-size: $font-size-middle;
  }
}
