@import "base";

$grid_width: 800px;
$margin: 10px;

body {
  background: $background_color;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0;
}

// Screen Container

#content {
  position: absolute;
  top: $header_height;
  left: 250px;
  bottom: 0;
  right: 0;
  text-align: center;
}

#screen_content {
  text-align: left;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

// Screen Loader

#screen_content_loader_container {
  margin-left: 45%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#screen_content_loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

// GridStateUserPanel

#panel_grid_state_user {
  span {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  i.copy_btn {
    width: 32px;
    height: 32px;
    margin-top: 15px;
    cursor: pointer;
    &[disabled] {
      cursor: default;
      opacity: 0.4;
    }
  }
  span.text {
    font-size: 1.5em;
    color: #555;
    margin-top: 3px;
    width: 32px;
  }
}

// Notification

#notification-container {
  position: absolute;
  bottom: 0;
  left: 60%;
  margin-left: -250px;
  width: 300px;
  z-index: 1002;
  .notification {
    padding: 13px 20px 13px 20px;
    background: #333333;
    box-shadow: 1px 2px 5px black;
    color: white;
  }
}
