.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.bg-blue {
  background: #81abd7;
}
.highlight_yellow {
  background-color: yellow !important;
}
.hidden {
  display: none !important;
}

.slt {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  display: inline-block;
  padding: 4px;
  font-size: 13px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 27px;
  *height: auto;
  line-height: 27px;
  *margin-top: 4px;
  &:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 1px dotted #666;
  }
  &[disabled] {
    background-color: #f5f5f5;
    border-color: #ddd;
    cursor: not-allowed;
  }
}

.btn:first-child {
  *margin-left: 0;
}

.inverse,
.inverse:hover {
  color: white!important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.inverse {
  background-color: #414141;
  *background-color: #222222;
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.inverse:hover,
.inverse:active,
.inverse.active,
.inverse.disabled,
.inverse[disabled] {
  background-color: #222222;
  *background-color: #151515;
}

.inverse:active,
.inverse.active {
  background-color: #080808 \9;
}

span.switch_btn {
  background: image-url('ui/switch_icon.png') no-repeat top center;
  display: block;
  width: 30px;
  height: 24px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  &[disabled] {
    cursor: default;
    opacity: 0.4;
  }
}

#panel_grid_state_user {
  span {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  span.copy_btn {
    background: image-url('copy.png') no-repeat top center;
    width: 32px;
    height: 32px;
    margin-top: 15px;
    cursor: pointer;
    &[disabled] {
      cursor: default;
      opacity: 0.4;
    }
  }
  span.text {
    font-size: 1.5em;
    color: #555;
    margin-top: 3px;
    width: 32px;
  }
}

.ajax-loading {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  width: 16px;
  height: 16px;
  background: url('ajax-loader-small.gif') no-repeat scroll center center transparent;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.select-options{
  cursor: pointer;
  .select-option{
    line-height: 22px;
  }
}