.red {
  color: red;
}
.green {
  color: green;
}

.hidden {
  display: none !important;
}

// Form

form {
  .field_error {
    color: red;
    font-size: 11px;
    display: inline-block;
    margin-left: 5px;
    max-width: 85px;
  }
  .base_error {
    padding-left: 130px;
    line-height: 30px;
    color: red;
  }
}

// Confirm & Error Modal

.modal.info-modal {
  width: 400px;
  .modal-title {
    font-size: 1.5rem;
  }
  .modal-message {
    font-size: 1rem;
  }
}
