.red {
  color: red;
}
.green {
  color: green;
}

.hidden {
  display: none !important;
}

.slt {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  display: inline-block;
  padding: 4px;
  font-size: 13px;
  // color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 27px;
  *height: auto;
  line-height: 27px;
  *margin-top: 4px;
  &:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 1px dotted #666;
  }
  &[disabled] {
    background-color: #f5f5f5;
    border-color: #ddd;
    cursor: not-allowed;
  }
}

// .btn {
//   display: inline-block;
//   *display: inline;
//   padding: 4px 10px 4px;
//   margin-bottom: 0;
//   *margin-left: .3em;
//   font-size: 13px;
//   line-height: 18px;
//   *line-height: 20px;
//   color: #333333;
//   text-align: center;
//   text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
//   vertical-align: middle;
//   cursor: pointer;
//   background-color: #f5f5f5;
//   *background-color: #e6e6e6;
//   background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
//   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
//   background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
//   background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
//   background-image: linear-gradient(top, #ffffff, #e6e6e6);
//   background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
//   background-repeat: repeat-x;
//   border: 1px solid #cccccc;
//   *border: 0;
//   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
//   border-color: #e6e6e6 #e6e6e6 #bfbfbf;
//   border-bottom-color: #b3b3b3;
//   -webkit-border-radius: 4px;
//      -moz-border-radius: 4px;
//           border-radius: 4px;
//   filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
//   filter: progid:dximagetransform.microsoft.gradient(enabled=false);
//   *zoom: 1;
//   -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
//      -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
//           box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
// }
//
// .btn:hover,
// .btn:active,
// .btn.active,
// .btn.disabled,
// .btn[disabled] {
//   background-color: #e6e6e6;
//   *background-color: #d9d9d9;
// }
//
// .btn:active,
// .btn.active {
//   background-color: #cccccc \9;
// }
//
// .btn:first-child {
//   *margin-left: 0;
// }
//
// .btn:hover {
//   color: #333333;
//   text-decoration: none;
//   background-color: #e6e6e6;
//   *background-color: #d9d9d9;
//   /* Buttons in IE7 don't get borders, so darken on hover */
//
//   background-position: 0 -15px;
//   -webkit-transition: background-position 0.1s linear;
//      -moz-transition: background-position 0.1s linear;
//       -ms-transition: background-position 0.1s linear;
//        -o-transition: background-position 0.1s linear;
//           transition: background-position 0.1s linear;
// }
//
// .btn:focus {
//   outline: thin dotted #333;
//   outline: 5px auto -webkit-focus-ring-color;
//   outline-offset: -2px;
// }
//
// .btn.active,
// .btn:active {
//   background-color: #e6e6e6;
//   background-color: #d9d9d9 \9;
//   background-image: none;
//   outline: 0;
//   -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
//      -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
//           box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
// }
//
// .btn.disabled,
// .btn[disabled] {
//   cursor: default;
//   background-color: #e6e6e6;
//   background-image: none;
//   opacity: 0.65;
//   filter: alpha(opacity=65);
//   -webkit-box-shadow: none;
//      -moz-box-shadow: none;
//           box-shadow: none;
// }
//
// .btn-large {
//   padding: 9px 14px;
//   font-size: 15px;
//   line-height: normal;
//   -webkit-border-radius: 5px;
//      -moz-border-radius: 5px;
//           border-radius: 5px;
// }
//
// .btn-large [class^="icon-"] {
//   margin-top: 1px;
// }
//
// .btn-small {
//   padding: 5px 9px;
//   font-size: 11px;
//   line-height: 16px;
// }
//
// .btn-small [class^="icon-"] {
//   margin-top: -1px;
// }
//
// .btn-mini {
//   padding: 2px 6px;
//   font-size: 11px;
//   line-height: 14px;
// }
//
// .primary,
// .primary:hover,
// .warning,
// .warning:hover,
// .danger,
// .danger:hover,
// .success,
// .success:hover,
// .info,
// .info:hover,
// .inverse,
// .inverse:hover {
//   color: #ffffff;
//   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
// }
//
// .primary.active,
// .warning.active,
// .danger.active,
// .success.active,
// .info.active,
// .inverse.active {
//   color: rgba(255, 255, 255, 0.75);
// }
//
// .btn {
//   border-color: #ccc;
//   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
// }
//
// .primary {
//   background-color: #0074cc;
//   *background-color: #0055cc;
//   background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
//   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
//   background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
//   background-image: -o-linear-gradient(top, #0088cc, #0055cc);
//   background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
//   background-image: linear-gradient(top, #0088cc, #0055cc);
//   background-repeat: repeat-x;
//   border-color: #0055cc #0055cc #003580;
//   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
//   filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
//   filter: progid:dximagetransform.microsoft.gradient(enabled=false);
// }
//
// .primary:hover,
// .primary:active,
// .primary.active,
// .primary.disabled,
// .primary[disabled] {
//   background-color: #0055cc;
//   *background-color: #004ab3;
// }
//
// .primary:active,
// .primary.active {
//   background-color: #004099 \9;
// }
//
// .warning {
//   background-color: #faa732;
//   *background-color: #f89406;
//   background-image: -ms-linear-gradient(top, #fbb450, #f89406);
//   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
//   background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
//   background-image: -o-linear-gradient(top, #fbb450, #f89406);
//   background-image: -moz-linear-gradient(top, #fbb450, #f89406);
//   background-image: linear-gradient(top, #fbb450, #f89406);
//   background-repeat: repeat-x;
//   border-color: #f89406 #f89406 #ad6704;
//   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
//   filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
//   filter: progid:dximagetransform.microsoft.gradient(enabled=false);
// }
//
// .warning:hover,
// .warning:active,
// .warning.active,
// .warning.disabled,
// .warning[disabled] {
//   background-color: #f89406;
//   *background-color: #df8505;
// }
//
// .warning:active,
// .warning.active {
//   background-color: #c67605 \9;
// }
//
// .danger {
//   background-color: #da4f49;
//   *background-color: #bd362f;
//   background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
//   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
//   background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
//   background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
//   background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
//   background-image: linear-gradient(top, #ee5f5b, #bd362f);
//   background-repeat: repeat-x;
//   border-color: #bd362f #bd362f #802420;
//   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
//   filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
//   filter: progid:dximagetransform.microsoft.gradient(enabled=false);
// }
//
// .danger:hover,
// .danger:active,
// .danger.active,
// .danger.disabled,
// .danger[disabled] {
//   background-color: #bd362f;
//   *background-color: #a9302a;
// }
//
// .danger:active,
// .danger.active {
//   background-color: #942a25 \9;
// }
//
// .success {
//   background-color: #5bb75b;
//   *background-color: #51a351;
//   background-image: -ms-linear-gradient(top, #62c462, #51a351);
//   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
//   background-image: -webkit-linear-gradient(top, #62c462, #51a351);
//   background-image: -o-linear-gradient(top, #62c462, #51a351);
//   background-image: -moz-linear-gradient(top, #62c462, #51a351);
//   background-image: linear-gradient(top, #62c462, #51a351);
//   background-repeat: repeat-x;
//   border-color: #51a351 #51a351 #387038;
//   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
//   filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
//   filter: progid:dximagetransform.microsoft.gradient(enabled=false);
// }
//
// .success:hover,
// .success:active,
// .success.active,
// .success.disabled,
// .success[disabled] {
//   background-color: #51a351;
//   *background-color: #499249;
// }
//
// .success:active,
// .success.active {
//   background-color: #408140 \9;
// }
//
// .info {
//   background-color: #49afcd;
//   *background-color: #2f96b4;
//   background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
//   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
//   background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
//   background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
//   background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
//   background-image: linear-gradient(top, #5bc0de, #2f96b4);
//   background-repeat: repeat-x;
//   border-color: #2f96b4 #2f96b4 #1f6377;
//   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
//   filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
//   filter: progid:dximagetransform.microsoft.gradient(enabled=false);
// }
//
// .info:hover,
// .info:active,
// .info.active,
// .info.disabled,
// .info[disabled] {
//   background-color: #2f96b4;
//   *background-color: #2a85a0;
// }
//
// .info:active,
// .info.active {
//   background-color: #24748c \9;
// }
//
// .inverse {
//   background-color: #414141;
//   *background-color: #222222;
//   background-image: -ms-linear-gradient(top, #555555, #222222);
//   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
//   background-image: -webkit-linear-gradient(top, #555555, #222222);
//   background-image: -o-linear-gradient(top, #555555, #222222);
//   background-image: -moz-linear-gradient(top, #555555, #222222);
//   background-image: linear-gradient(top, #555555, #222222);
//   background-repeat: repeat-x;
//   border-color: #222222 #222222 #000000;
//   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
//   filter: progid:dximagetransform.microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
//   filter: progid:dximagetransform.microsoft.gradient(enabled=false);
// }
//
// .inverse:hover,
// .inverse:active,
// .inverse.active,
// .inverse.disabled,
// .inverse[disabled] {
//   background-color: #222222;
//   *background-color: #151515;
// }
//
// .inverse:active,
// .inverse.active {
//   background-color: #080808 \9;
// }

span.switch_btn {
  background: image-url('ui/switch_icon.png') no-repeat top center;
  display: block;
  width: 30px;
  height: 24px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  &[disabled] {
    cursor: default;
    opacity: 0.4;
  }
}

#panel_grid_state_user {
  span {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  span.copy_btn {
    background: image-url('copy.png') no-repeat top center;
    width: 32px;
    height: 32px;
    margin-top: 15px;
    cursor: pointer;
    &[disabled] {
      cursor: default;
      opacity: 0.4;
    }
  }
  span.text {
    font-size: 1.5em;
    color: #555;
    margin-top: 3px;
    width: 32px;
  }
}

.ajax-loading {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  width: 16px;
  height: 16px;
  background: url('ajax-loader-small.gif') no-repeat scroll center center transparent;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
