@import 'base';

#contextMenu {
  position: absolute;
  width: 204px;
  height: 137px;
  left: 355px;
  top: 321px;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.16), 0px 2px 5px rgba(0, 0, 0, 0.26);

  z-index: 99999;
}

#contextMenu li {
  width: 171.41px;
  height: 18px;
  margin: 13px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: $font-size-large;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  color: #4D4D4E;
  cursor: pointer;

  i.material-icons {
    margin-right: 13px;
    background: #DADADA;
    font-size: $font-size-large;
  }
}

#contextMenu li:hover {
  background-color: white;
}
