@import 'base';

.textarea-wrapper {
  z-index: 10000;
  position: absolute;
  background: $grid-textarea-bg-color;
  padding: $grid-textarea-padding;
  box-shadow: $grid-textarea-box-shadow;
}

.textarea-in-grid {
  height: $grid-textarea-height;
  border: 0;
  outline: 0;
}
