@import 'base';

// Common

form {
  .field_error {
    color: $error-color;
    font-size: $font-size-small;
    display: inline-block;
    margin-left: 5px;
    max-width: $error-max-width;
  }
  .base_error {
    padding-left: 130px;
    line-height: 30px;
    color: $error-color;
  }
}

// Create/Edit Form

.create_form {
  h5.title {
    margin-top: $form-title-margin;
    margin-bottom: $form-title-margin * 1.5;
  }
  .field {
    margin: 0;
    .chzn-container {
      top: 40px;
      margin-bottom: 16px;
    }
    input[type=text]:not(.browser-default) {
      margin-bottom: 8px;
    }
  }
  .submit {
    float: right;
    padding: $form-submit-padding 0;
  }
}

// Attach(Add Detail) Form

.attach-modal.modal.modal-fixed-footer {
  .slick-header-column.input-field label {
    top: 15px;
  }
  .modal-content {
    position: static;
    padding: 0;
    height: auto !important;
    .grid_container {
      border: none;
      .grid-header {
        padding-top: 20px;
        h2 {
          padding-top: 0;
          padding-left: 15px;
          margin-top: 0;
        }
      }
    }
  }
}
