@import 'base';

// Common

form {
  .field_error {
    color: $error-color;
    font-size: $font-size-tiny;
  }
  .base_error {
    padding-left: 130px;
    line-height: 30px;
    color: $error-color;
  }
}

// Create/Edit Form

.create_form {
  h5.title {
    margin-top: $form-title-margin;
    margin-bottom: $form-title-margin * 1.5;
  }
  .field-line {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    .switch.target_flag_container {
      width: 70px;
    }
    .field {
      width: 100%;
      input,
      textarea {
        color: $text-color;
        font-size: $font-size-small;
      }
      input[type='text']:not(.browser-default) {
        height: 36px;
      }
      input[data-date='true'],
      input[data-time='true'],
      input[data-datetime='true'] {
        display: block;
        margin-bottom: 5px;
      }
      .chosen-container {
        width: auto !important;
        .chzn-choices {
          .search-choice {
            margin-top: 7px;
          }
        }
      }
    }
  }
  .submit {
    float: right;
    padding: $form-submit-padding 0;
  }
}
.checkboxMargin {
  margin: 15px auto;
}

.input-field.input-outlined {
  &:focus-within > label {
    color: $main-color;
    z-index: 1;
    background: white !important;
    border-left: 4px solid white !important;
    border-right: 4px solid white !important;
    transform: translateY(-1.75rem);
    top: 1rem;
  }
  &:focus-within > .chosen-container {
    border-color: $main-color;
  }
  &:not(:focus-within) > label.active {
    z-index: 1;
    top: 0.4rem;
    background: white !important;
    border-left: 4px solid white !important;
    border-right: 4px solid white !important;
  }
  > input,
  textarea,
  .chosen-container {
    border: 2px solid #eee;
    padding: 12px 16px 14px;
    width: calc(100% - 2.5rem);
    float: none;
    display: block;
    border-radius: 4px;
    transition: box-shadow, border-color 0.15s;
  }
  > input,
  textarea {
    &:focus:not([readonly]) {
      border-color: $main-color;
    }
  }
  > label {
    z-index: 1;
    left: 27px;
    display: inline-flex;
    width: auto !important;
    top: 0.5rem;
  }
}
