@import "base";

// Common

form {
  .field_error {
    color: $error-color;
    font-size: $font-size-tiny;
  }
  .base_error {
    padding-left: 130px;
    line-height: 30px;
    color: $error-color;
  }
}

// Create/Edit Form

.create_form {
  h5.title {
    position: fixed;
    top: -5px;
    z-index: 1040;
    width: 100%;
    left: 0px;
    background-color: white;
    height: 70px;
    padding-left: 30px;
    padding-top: 22px;
    box-shadow: 0 0 2px lightgrey;
  }
  form {
    margin-top: 60px;
  }
  .field-line {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    .switch.target_flag_container {
      width: 70px;
    }
    .field {
      width: 100%;
      input {
        padding-top: 5px;
        padding-bottom: 5px;
      }
      input,
      textarea {
        color: $text-color;
        font-size: $font-size-small-middle;
      }
      input[type="text"]:not(.browser-default) {
        height: 36px;
      }
      input[data-date="true"],
      input[data-time="true"],
      input[data-datetime="true"] {
        display: block;
        margin-bottom: 5px;
      }
      .chosen-container {
        width: auto !important;
        .chzn-choices {
          .search-choice {
            margin-top: 7px;
          }
        }
      }
    }
  }
  .submit {
    float: right;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 9999;
    right: 16px;
    bottom: 8px;
  }
}
.checkboxMargin {
  margin: 15px auto;
}

.input-field.input-outlined {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  &:focus-within > label {
    color: $main-color;
    z-index: 1000;
    background: white !important;
    border-left: 4px solid white !important;
    border-right: 4px solid white !important;
    transform: translateY(-1.75rem);
    top: 1rem;
  }
  &:focus-within > .chosen-container {
    border-color: $main-color;
  }
  &:not(:focus-within) > label.active {
    z-index: 1000;
    top: 0.4rem;
    background: white !important;
    border-left: 4px solid white !important;
    border-right: 4px solid white !important;
  }
  > input,
  textarea,
  .chosen-container {
    border: 2px solid #eee;
    padding: 10px 15px 10px;
    width: calc(100% - 2.5rem);
    float: none;
    display: block;
    border-radius: 4px;
    transition: box-shadow, border-color 0.15s;
    .chosen-drop {
      z-index: 9999;
    }
  }
  > input,
  textarea {
    &:focus:not([readonly]) {
      border-color: $main-color;
    }
  }
  > label {
    z-index: 1;
    left: 27px;
    display: inline-flex;
    width: auto !important;
    top: 0rem;
  }
}

.modal-fixed-footer {
  overflow: visible !important;
  .modal-footer {
    z-index: 1200;
  }
  .submit {
    .color-blue {
      color: #2196f3;
    }
  }

  .modal-content {
    overflow-y: inherit !important;
  }
}
