@import 'base';

/* Grid Column Headers */

.slick-header-column.ui-state-default {
  height: $slick-header-height;
  border: none;
  position: relative;
}

.slick-header {
  padding-bottom: $slick-header-padding;
  .slick-header-column.input-field {
    &.slick-header-column-sorted {
      font-style: normal;
    }
    label {
      top: 15px;
      font-size: $font-size-small;
    }
    input[type=text] {
      margin-bottom: none;
      border-bottom: none;
      height: $filter-height;
      color: $filter-color;
    }
    input[type=text]:focus:not([readonly]) {
      border-bottom: 1px $filter-color !important;
      box-shadow: 0 1.5px 0 0 $filter-color !important;
      font-size: $font-size-small;
      margin-left: -2px;
    }
    input[type=text]:focus:not([readonly]) + label {
      color: $filter-color !important;
    }
    .slick-sort-indicator, .slick-drag-indicator {
      display: block;
      position: absolute;
      background-color: $slick-header-bg-color;
      top: 28px;
      i.material-icons {
        background-color: $slick-header-bg-color;
        font-size: $font-size-small;
        color: $slick-header-color;
      }
    }
    .slick-sort-indicator {
      margin: 0;
      height: 20px;
      right: 20px;
      cursor: pointer;
    }
    .slick-drag-indicator {
      right: 5px;
      cursor: move;
      i.material-icons {
        transform: rotate(90deg);
      }
    }
    .slick-resizable-handle {
      width: 5px;
      background-color: $slick-header-bg-color;
    }
  }
  .progress {
    bottom: -0.4rem;
    margin: 0;
  }
}
