@import 'base';

/* Grid Container */

.grid_container {
  position: relative;
  float: left;
  // Grid
  .grid {
    box-shadow: 0px 1px 1px $border-color;
    .slick-viewport {
      .grid-canvas {
        border-top: 1px solid $border-color;
      }
    }
  }

  // Footer
  .pager {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    border: 0;
    background: none;
    font-size: $font-size-small;

    .pager-item {
      flex-grow: 1;
      padding: 8px 10px 2px 10px;
      > span {
        white-space: nowrap;
      }

      a.clear {
        position: relative;
        top: -2px;
        margin-left: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 2px;
        &:hover {
          background: rgba(158, 158, 158, 0.2);
        }
        span {
          margin-left: 5px;
        }
      }

      .material-icons {
        position: relative;
        top: 3px;
        font-size: $font-size-middle;
      }
    }

    .pager-item.selection {
      text-align: center;
      font-size: $font-size-small;
      color: $grid-header-selection-info-color;
      a.clear {
        color: $grid-header-selection-info-color;
      }
    }

    .pager-item.status {
      a.clear,
      .slick-pager-status.with-filter {
        color: $filter-color;
      }
    }
    .pager-item.extra {
      text-align: right;
    }
  }
}
