@import 'base';

/* Grid Container */

.grid_container {
  float: left;
  // Grid
  .grid {
    box-shadow: 0px 1px 1px $border-color;
    .slick-viewport {
      .grid-canvas {
        border-top: 1px solid $border-color;
      }
    }
  }
  // Footer
  .slick-pager {
    border: 0;
    background: none;
    font-size: $font-size-small;
    .slick-pager-status.with-filter, .slick-pager-clear-filter {
      color: $filter-color;
      .material-icons {
        position: relative;
        top: 3px;
        font-size: $font-size-middle;
      }
    };
    .slick-pager-clear-filter {
      padding: 6px 15px 6px 0px;
    };
    .selection-info {
      position: inherit;
      left: 50%;
      font-size: $font-size-small;
      color: $grid-header-selection-info-color;
      a.clear {
        position: relative;
        top: -2px;
        margin-left: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 2px;
        color: $grid-header-selection-info-color;
        &:hover {
          background: rgba(158, 158, 158, 0.2);
        }
        span {
          margin-left: 5px;
        }
      }
      .material-icons {
        position: relative;
        top: 3px;
        font-size: $font-size-middle;
      }
    }
  }
}
