@import 'base';

/* Grid Header */

.grid-header {
  height: $grid-header-height;
  &.multi-selected {
    background-color: $grid-header-multi-selected-bg-color;
  }
  // Grid Title
  h2 {
    margin-top: 20px;
    padding-left: 20px;
    font-size: $font-size-middle;
    font-weight: bold;
    color: $text-color;
    float: left;
  }
  // Selection Info
  .selection-info {
    position: absolute;
    display: block;
    padding-left: 20px;
    font-size: $font-size-small;
    color: $grid-header-selection-info-color;
  }
  // Grid State Switcher
  .grid-states-switcher {
    float: left;
    padding-left: 30px;
    padding-top: 12px;
    .btn {
      text-transform: none;
      text-align: left;
      color: $text-color;
      width: $grid-states-switcher-width;
      font-size: $font-size-middle;
      padding: 0 16px;
      height: 30px;
      line-height: 30px;
      span {
        padding-left: 0;
      }
    }
    .dropdown-content {
      width: $grid-states-switcher-width;
      li > a {
        color: $text-color;
        font-size: $font-size-middle;
        display: inline-block;
        padding-right: 2px;
        i {
          font-size: $font-size-large;
          margin-right: 8px;
        }
      }
    }
  }
  .grid-states-modal {
    width: $grid-states-modal-width;
  }
  .toolbar-wrapper {
    padding: 20px 20px 0 50px;
    overflow: hidden;
    .toolbar-global {
      i.material-icons {
        font-size: $font-size-large;
      }
      ul {
        margin: 0;
        li.toolbar_item {
          float: left;
          padding-left: 10px;
          a {
            font-size: $font-size-small;
            color: $toolbar-global-color;
            span {
              float: right;
              padding-left: 5px;
              font-weight: bold;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .toolbar-select {
      float: right;
      i.material-icons {
        font-size: $font-size-large;
      }
      ul {
        margin: 0;
        li.toolbar_item {
          float: left;
          a {
            color: $toolbar-select-color;
            padding-left: 15px;
          }
        }
      }
    }
  }
}
