@import "base";

.modal-content {
  .create_form {
    .title {
      padding-top: 1em;
      padding-bottom: 1em;
      margin-top: 0;
      margin-bottom: 0;
    }
    .field {
      margin: 0;
      .chzn-container {
        top: 2.5rem;
        margin-bottom: 1rem;
      }
      input[type=text]:not(.browser-default) {
        margin-bottom: 0.5rem;
      }
    }
    .submit {
      float: right;
      padding: 3em 0;
    }
  }
}

.attach-modal.modal.modal-fixed-footer {
  .slick-header-column.input-field label {
    top: 15px;
  }
  .modal-content {
    position: static;
    padding: 0;
    height: auto !important;
    .grid_container {
      border: none;
      .grid-header {
        padding-top: 20px;
        h2 {
          padding-top: 0;
          padding-left: 15px;
          margin-top: 0;
        }
      }
    }
  }
}
