@import 'base';

/* Grid Header */

.grid-header {
  position: relative;
  height: $grid-header-height;
  transition: background-color 0.2s ease;
  &.has-selected-rows {
    background-color: $grid-header-has-selected-rows-bg-color;
  }
  // Grid Title
  h2 {
    margin-top: 20px;
    padding-left: 20px;
    font-size: $font-size-large;
    font-weight: normal;
    color: black;
    float: left;
  }
  // Selection Info
  .selection-info {
    position: absolute;
    bottom: 2px;
    left: 20px;
    font-size: $font-size-small;
    color: $grid-header-selection-info-color;
    a.clear {
      position: relative;
      top: -2px;
      margin-left: 5px;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 2px;
      color: $grid-header-selection-info-color;
      &:hover {
        background: rgba(158, 158, 158, 0.2);
      }
      span {
        margin-left: 5px;
      }
    }
    .material-icons {
      position: relative;
      top: 3px;
      font-size: 16px;
    }
  }
  // Grid State Switcher
  .grid-states-switcher {
    float: left;
    padding-left: 30px;
    padding-top: 12px;
    .btn {
      text-transform: none;
      text-align: left;
      color: $text-color;
      width: $grid-states-switcher-width;
      font-size: $font-size-middle;
      padding: 0 16px;
      height: 30px;
      line-height: 30px;
      span {
        padding-left: 0;
      }
    }
    .dropdown-content {
      width: $grid-states-switcher-width;
      li > a {
        color: $text-color;
        font-size: $font-size-middle;
        display: inline-block;
        padding-right: 2px;
        i {
          font-size: $font-size-large;
          margin-right: 8px;
        }
      }
    }
  }
  .grid-states-modal {
    width: $grid-states-modal-width;
  }
  .toolbar-wrapper {
    padding: 15px 20px 0 20px;
    overflow: hidden;
    .toolbar_icon_disabled {
      @include opacity(0.4);
      cursor: default !important;
    }
    .toolbar-global {
      position: relative;
      top: 4px;
      i.material-icons {
        font-size: $font-size-large;
      }
      ul {
        margin: 0;
        li.toolbar_item {
          float: left;
          a {
            font-size: $font-size-small;
            color: $toolbar-global-color;
            border-radius: 2px;
            padding: 4px 6px 2px 4px;
            span {
              float: right;
              padding-top: 1px;
              padding-left: 5px;
              font-weight: bold;
              text-transform: uppercase;
            }
            &:hover {
              background: rgba(158, 158, 158, 0.2);
            }
          }
        }
      }
    }
    .toolbar-select {
      float: right;
      i.material-icons {
        font-size: $font-size-large;
        position: relative;
        top: 6px;
      }
      ul {
        margin: 0;
        li.toolbar_item {
          float: left;
          a {
            color: $toolbar-select-color;
          }
        }
      }
    }
  }
}
