@import 'base';

// Grid Column Picker (Right click on Grid Table Header)

.columnpicker-container {
  .card-panel {
    padding: 0;
  }
}

.column-container {
  padding-top: 10px;
}

.wulin-columnpicker {
  li {
    list-style: none;
    padding-left: 12px;
    padding-right: 12px;
  }
  hr {
    border-style: inset;
    border-width: 0.5px;
    border-color: rgba(247, 246, 239, 0.39);
  }
  #reset_to_default {
    padding-left: 12px;
    padding-right: 12px;
    color: gray;
    span {
      float: right;
      padding-right: 12px;
      font-size: 12px;
      padding-top: 4px;
    }
  }
}
