.content_body {
  margin: 30px auto;
  margin-left: 30%;
}

.preview_content{
  ul {
    list-style: none;
    padding-left: 15px;

    li {
      padding: 5px 0;
      font-size: 12px;

      label {
        width: 83px;
        text-align: right;
        display: inline-block;
        margin-right: 5px;
        vertical-align: top;
      }
      .value { display: inline-block; max-width: 400px; }
    }
  }

  // background-color: #ededed !important;
  // overflow-y: auto !important
  form {
    padding: 20px 0;
    .field {
      padding: 5px;
      label {
        width: 120px;
        margin-right: 5px;
        text-align: right;
        display: inline-block;
        padding-top: 5px;
        vertical-align: top;
      }
      input[type=text] {
        width: 220px;
        padding: 3px 2px;
        border: none;
        background-color: #ededed;
      }
      .even{
        padding: 5px;
        background-color: silver;
      }
    }
  }
}
