@import 'base';

/* Grid Cell */

.slick-cell {
  font-size: $font-size-small;
  line-height: $grid-row-height;
  border-bottom-color: $border-color;
  &.selected {
    background: $grid-cell-selected-bg-color;
  }
  &.active {
    border: $grid-cell-active-border-color solid 1px;
  }
  &.editable {
    box-shadow: $box-shadow;
  }
}

// boolean
.cell-effort-driven {
  text-align: center;
}

// Loading Effect: Shimmer

.slick-row {
  &.loading {
    border-bottom: 1px solid $border-color;
    .slick-cell.loading {
      border: none;
      margin: $grid-cell-loading-margin;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: shimmerCell;
      animation-timing-function: linear;
    }
  }
  &.odd {
    background: $grid-row-odd-bg-color;
    .slick-cell.loading {
      background: linear-gradient(to right,
                                  $grid-cell-odd-shimmer-color-1 8%,
                                  $grid-cell-odd-shimmer-color-2 18%,
                                  $grid-cell-odd-shimmer-color-1 33%);
    }
    .slick-cell.filtered {
      background: $grid-cell-odd-filtered-bg-color;
    }
    .slick-cell.filtered.selected {
      background: $grid-cell-filtered-selected-bg-color;
    }
  }
  &.even {
    .slick-cell.loading {
      background: linear-gradient(to right,
                                  $grid-cell-even-shimmer-color-1 8%,
                                  $grid-cell-even-shimmer-color-2 18%,
                                  $grid-cell-even-shimmer-color-1 33%);
    }
    .slick-cell.filtered {
      background: $grid-cell-even-filtered-bg-color;
    }
    .slick-cell.filtered.selected {
      background: $grid-cell-filtered-selected-bg-color;
    }
  }
}
