@import 'materialize/components/color';
@import 'base';

$wulin-colors: (
  'red': color('red', 'base'),
  'pink': color('pink', 'base'),
  'purple': color('purple', 'base'),
  'deep-purple': color('red', 'base'),
  'indigo': color('indigo', 'base'),
  'blue': color('blue', 'base'),
  'light-blue': color('light-blue', 'base'),
  'cyan': color('cyan', 'base'),
  'teal': color('teal', 'base'),
  'green': color('green', 'base'),
  'light-green': color('light-green', 'base'),
  'lime': color('lime', 'base'),
  'yellow': color('yellow', 'base'),
  'amber': color('amber', 'base'),
  'orange': color('orange', 'base'),
  'deep-orange': color('deep-orange', 'base'),
  'brown': color('brown', 'base'),
  'blue-grey': color('blue-grey', 'base'),
  'grey': color('grey', 'base')
);

// Grid Color Theme

@mixin grid_color($name, $color) {
  .#{'grid-color-' + $name} {
    .grid-header {
      &.multi-selected {
        background: lighten(rgba($color, .2), 10%) !important;
      }
      span.detail-grid-title {
        color: $color;
      }
      .toolbar-wrapper .toolbar-global ul li.toolbar_item a {
        color: $color;
      }
      .selection-info {
        color: $color;
      }
    }
    .progress .indeterminate {
      background-color: $color;
    }
    .slick-cell {
      &.selected {
        background: lighten(rgba($color, .2), 10%) !important;
      }
      &.active {
        border: $color solid 1px;
      }
    }
  }
}

// Grid: Background color

@mixin grid_bg_color($name, $color) {
  .#{'grid-bg-color-' + $name} {
    .grid-header {
      background: rgba($color, .1);
    }
    .slick-header {
      background: rgba($color, .1);
      .slick-header-column {
        background: none;
        &.input-field {
          .slick-sort-indicator, .slick-drag-indicator, .slick-resizable-handle {
            background: rgba($color, .0);
            i.material-icons {
              background: rgba($color, .0);
            }
          }
        }
      }
    }
    .slick-pager {
      background: rgba($color, .1);
    }
    .slick-row.even {
      .slick-cell {
        background: rgba($color, .1);
      }
    }
    .slick-row.odd {
      .slick-cell {
        background: rgba($color, .2);
      }
    }
  }
}

// Grid: Selection colors

@mixin grid_selection_color($name, $color) {
  .#{'grid-selection-color-' + $name} {
    .slick-cell {
      &.selected {
        background: lighten(rgba($color, .2), 10%);
      }
      &.active {
        border: $color solid 1px;
      }
    }
  }
}

@each $name, $color in $wulin-colors {
  @include grid_color($name, $color);
  @include grid_bg_color($name, $color);
  @include grid_selection_color($name, $color);
}
