@import 'base';

/* Grid Container */

.grid_container {
  float: left;
  // Grid
  .grid {
    box-shadow: 0px 1px 1px $border-color;
    .slick-viewport {
      .grid-canvas {
        border-top: 1px solid $border-color;
      }
    }
  }
  // Footer
  .slick-pager {
    border: 0;
    background: none;
    font-size: $font-size-small;
    .slick-pager-status.with-filter, .slick-pager-clear-filter {
      color: $filter-color;
      .material-icons {
        font-size: $font-size-middle;
        padding-top: 1px;
      }
      span {
        float: right;
      }
    }
    .slick-pager-clear-filter {
      padding: 6px 15px 6px;
    }
  }
}
