@import "base";

.create_form {
  .title {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0;
  }
  .field {
    padding: 1em 0 1em 0;
    margin: 0;
    .awesomplete {
      width: 100%;
      input[type=text] {
        height: 1.5rem;
        margin: 0;
      }
    }
    .chzn-container {
      display: block;
      .chzn-choices {
        background: none;
        border: 0;
      }
      .chzn-drop {
        border: oldlace;
        li {
          padding: 0.2em 1em 0.2em 1em;
        }
        .chzn-search {
          input {
            padding: 0 1.2em 0 1em;
            border: 0;
            background: none;
          }
        }
      }
      .chzn-single {
        border: 0;
        background-image: none;
        div {
          background: none;
          border: 0
        }
      }
    }
  }
  .submit {
    float: right;
    padding-bottom: 2em;
  }
}

.ui-dialog {
  .create_form.ui-dialog-content {
    padding: 1em 3em;
  }
}

// .create_form {
//   display: none;
//   // background-color: #ededed !important;
//   // overflow-y: auto !important
//   form {
//     padding: 20px 0;
//     .field {
//       padding: 5px 0;
//       label {
//         width: 120px;
//         margin-right: 5px;
//         text-align: right;
//         display: inline-block;
//         padding-top: 5px;
//         vertical-align: top;
//       }
//       input[type=text] {
//         width: 220px;
//         padding: 3px 2px;
//       }
//
//
//     }
//     .submit {
//       padding: 10px 0 10px 130px;
//     }
//     .actions {
//       margin-top: 5px;
//       padding: 0 50px;
//     }
//   }
// }
//
// .input_clean_up {
//   display: inline-block;
//   vertical-align: middle;
//   width: 12px;
//   height: 13px;
//   font-size: 1px;
//   background: image-url('chosen-sprite.png') right top no-repeat;
//
//   &:hover {
//     background-position: right -11px;
//   }
// }
