.grid-states-switcher {
  float: left;
  margin-left: 30px;
  padding-top: 10px;
  .btn {
    text-transform: none;
    text-align: left;
    color: grey;
    width: 13rem;
    font-size: 1rem;
    padding: 0 1rem 0 1.1rem;
    span {
      padding-left: 0;
    }
  }
  .dropdown-content {
    width: 13rem;
    li > a {
      color: grey;
      font-size: 1rem;
      display: inline-block;
      padding-right: 0.1rem;
      i {
        font-size: 1.2rem;
        margin-right: 0.5rem;
      }
    }
  }
}

.grid-states-modal {
  width: 35rem;
}
