@import "base";

$column_height: 35px;

$row_background: #f2f2f2;
$row_border_color: silver;
$pager_background: #eff3f8;

.slick-viewport {
  background-color: white;
}

.slick-sort-indicator-asc, .slick-sort-indicator-desc {
  display: block;
  position: absolute;
  right: 4px;
  top: 15px;
  width: 9px;
  height: 8px;
  background: image-url("ui/sort_indicator_asc.png") no-repeat;
}

.slick-sort-indicator-desc {
  background: image-url("ui/sort_indicator_desc.png") no-repeat;
}

.slick-headerrow-columns {
  input {
    border-bottom: 1px solid $row_border_color;
  }
  input:first-child {
    border-left: 1px solid $row_border_color;
  }
  input:last-child {
    border-right: 1px solid $row_border_color;
  }
}

.slick-header-column.ui-state-default {
  border: none;
  border-bottom: 1px solid $row_border_color;
  height: $column_height;
  line-height: $column_height;
  font-style: normal;
  font-weight: bold;
  padding: 0;
  text-align: center;
  &:first-child {
    border-left: 1px solid $row_border_color;
  }
  &:last-child {
    border-right: 1px solid $row_border_color;
  }
  .slick-column-name {
    width: 100%;
    font-size: 13px;
  }
}

.slick-row.ui-widget-content, .slick-row.ui-state-active {
  &:hover {
    background: $row_background;
  }
}

.slick-cell {
  border: none;
  border-bottom: 1px solid silver;
  line-height: $column_height;
  font-size: 12px;
  .editor-text {
    background: none repeat scroll 0 0 transparent;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0 none;
  }
  &:first-child {
    border-left: 1px solid $row_border_color;
  }
  &:last-child {
    border-right: 1px solid $row_border_color;
  }
  &.master_flashing {
    background-color: pink;
  }
  &.editable {
    background-color: ivory;
  }
  &.active {
    border: 1px black solid;
  }
  &.selected {
    background: $row_background;
  }
}

/* Page styling */
.pager, .slick-pager {
  background: $pager_background;
  color: $default_text_color;
  font-weight: normal;
  font-size: 12px;
  @include text-shadow(white, 1px, 1px, 0);
}

.grid_container {
  .pager {
    margin: 0;
  }
}
