@import "base";

$column_header_height: 52px;
$column_header_padding: 4px;
$column_header_border_color: #dce0e2;

$odd_row_background: $menu_background_color;
$selected_row_background: #fedecf;

$pager_background: #efeff0;

/* Grid Column Headers */

.slick-header {
  padding-bottom: 5px;
  .slick-header-column.input-field {
    label {
      top: 25px;
    }
  }
  .progress {
    bottom: -0.4rem;
    margin: 0;
  }
}

.slick-header-column.ui-state-default, .ui-widget-content .slick-header-column.ui-state-default {
  height: $column_header_height - $column_header_padding * 2;
  border: none;
  position: relative;
}

// .slick-header-column.ui-state-default.ui-state-hover {
//   background: #efeff0;
// }

.ui-state-default.slick-header-column.slick-header-column-sorted {
  font-style: normal;
}

// .slick-sort-indicator,.slick-sort-indicator-desc,.slick-sort-indicator-asc {
.slick-sort-indicator {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 9px;
  height: 8px;
  background: none;
  opacity: 0;
  cursor: pointer;
  i.material-icons {
    font-size: 16px;
  }
}

.slick-sort-indicator-desc,.slick-sort-indicator-asc {
  opacity: 0.5;
  background: none;
}

/* Grid Rows Headers */

//.ui-widget-content.slick-row.even,.ui-widget-content.slick-row.odd

.slick-row.ui-widget-content {
  border-top: 1px solid #babfce;
}

.ui-widget-content.slick-row.odd {
  background: $odd_row_background;
}

.slick-cell {
  font-size: 12px;
  line-height: 25px;
  .editor-text {
    background: none repeat scroll 0 0 transparent;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0 none;
  }
  &.master_flashing {
    background-color: pink;
  }
  &.selected {
    background: rgba(#b6dbf1, 0.7);
    margin-top: -1px;
  }
  &.editable {
    background-color: ivory;
  }
  &.active {
    border: #88bcfb solid 1px;
    background-color: rgba(#c2e8ff, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  input[type=text]:focus:not([readonly]) {
    padding-left: .2rem;
    box-shadow: none;
    font-size: .9rem;
  }
  .autocomplete-content {
    margin-top: 10px;
    margin-left: -2px;
    width: 102%;
  }
  .chzn-container {
    top: 0;
    .chzn-single {
      margin-right: 4px;
      margin-bottom: 8px;
    }
    .chzn-single-with-drop {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .chzn-drop {
      margin-right: 4px;
      margin-left: -2px;
    }
    .chzn-choices {
      box-shadow: none;
    }
  }
}

.slick-row.even {
  .slick-cell.loading {
    background: linear-gradient(to right, #f7f7f7 8%, #ecf2f4 18%, #f7f7f7 33%);
  }
}

.slick-row.odd {
  .slick-cell.loading {
    background: linear-gradient(to right, #e5e3e9 8%, #dddddd 18%, #e5e3e9 33%);
  }
}

@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}

.slick-cell.loading {
  margin: 10px;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  // background: linear-gradient(to right, #e5ebed 8%, #dddddd 18%, #e5ebed 33%);
  background-size: 800px 104px;
  height: 96px;
}

.slick-cell, .slick-headerrow-column , .slick-footerrow-column {
  border: 1px solid transparent;
}

.ui-widget-content.slick-row.ui-state-active.selected {
  background: $selected_row_background;
}

.cell-effort-driven {
  text-align: center;
}

.grid-canvas {
  background: white;
  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    color: white;
  }
}

.grid {
  box-shadow: 0px 1px 1px #c8c2c2;
}

/* Grid Secondary row, filters */

.slick-header-columns-secondary {
  height: 21px;
  input {
    border-top: none;
    border-bottom: 1px solid $column_header_border_color;
    border-right: none;
    border-left: 1px solid $column_header_border_color;
    height: 20px;
    padding-left: 2px;
    padding-right: 0;
    margin: 0;
  }
  input.lastColumn {
    border-right: 1px solid $column_header_border_color;
  }
}

/* Page styling */
.pager, .slick-pager {
  border: 0;
  background: white;
  font-size: 12px;
}

/* datapicker */
.ui-datepicker {
  min-width: 17em;
  width: auto !important;
}

/* datapicker icon */
.ui-datepicker-trigger {
  margin-top: 2px;
  padding: 0;
  vertical-align: top;
}

.slick-viewport {
  background-color: white;
}
