@use 'materialize-css/sass/components/color-variables' as materialize_color;
@import "base";

$wulin-colors: (
  "red": materialize_color.color("red", "base"),
  "pink": materialize_color.color("pink", "base"),
  "purple": materialize_color.color("purple", "base"),
  "deep-purple": materialize_color.color("deep-purple", "base"),
  "indigo": materialize_color.color("indigo", "base"),
  "blue": materialize_color.color("blue", "base"),
  "light-blue": materialize_color.color("light-blue", "base"),
  "cyan": materialize_color.color("cyan", "base"),
  "teal": materialize_color.color("teal", "base"),
  "green": materialize_color.color("green", "base"),
  "light-green": materialize_color.color("light-green", "base"),
  "lime": materialize_color.color("lime", "base"),
  "yellow": materialize_color.color("yellow", "base"),
  "amber": materialize_color.color("amber", "base"),
  "orange": materialize_color.color("orange", "base"),
  "deep-orange": materialize_color.color("deep-orange", "base"),
  "brown": materialize_color.color("brown", "base"),
  "blue-grey": materialize_color.color("blue-grey", "base"),
  "grey": materialize_color.color("grey", "base"),
);

// Grid Color Theme

@mixin grid_color($name, $color) {
  .#{"grid-color-" + $name} {
    .grid-header {
      &.has-selected-rows {
        background: lighten(rgba($color, 0.15), 20%) !important;
      }
      span.detail-grid-title {
        color: $color;
      }
      .toolbar-wrapper .toolbar-global ul li.toolbar_item a {
        color: $color;
      }
    }
    .slick-pager {
      .selection {
        color: $color;
        a.clear {
          color: $color;
        }
      }
    }
    .progress .indeterminate {
      background-color: $color;
    }
    .slick-cell {
      &.selected {
        background: lighten(rgba($color, 0.5), 10%) !important;
      }
      &.active {
        border: $color solid 1px;
      }
    }
  }
}

// Grid: Background color

@mixin grid_bg_color($name, $color) {
  .#{"grid-bg-color-" + $name} {
    .grid-header {
      background: lighten(rgba($color, 0.1), 10%);
    }
    .slick-header {
      background: lighten(rgba($color, 0.1), 10%);
      .slick-header-column {
        background: none;
        &.input-field {
          .slick-sort-indicator,
          .slick-show-more,
          .slick-resizable-handle {
            background: rgba($color, 0);
            span.material-icons {
              background: rgba($color, 0);
            }
          }
        }
      }
    }
    .slick-pager {
      background: lighten(rgba($color, 0.1), 10%);
    }
    .slick-row.even {
      .slick-cell {
        background: lighten(rgba($color, 0.1), 10%);
      }
    }
    .slick-row.odd {
      background: rgba(245, 245, 245, 0.1);
      .slick-cell {
        background: lighten(rgba($color, 0.2), 5%);
      }
    }
  }
}

// Grid: Selection colors

@mixin grid_selection_color($name, $color) {
  .#{"grid-selection-color-" + $name} {
    .slick-cell {
      &.selected {
        background: lighten(rgba($color, 0.5), 10%);
      }
      &.active {
        border: $color solid 1px;
      }
    }
  }
}

// Grid: Overwrite Grid Header colors with id

@mixin grid_header_color($name, $color) {
  #{"#"+ $name + ".grid-header.has-selected-rows"} {
    background: lighten(rgba($color, 0.15), 20%) !important
  }
}

@each $name, $color in $wulin-colors {
  @include grid_color($name, $color);
  @include grid_bg_color($name, $color);
  @include grid_selection_color($name, $color);
  @include grid_header_color($name, $color)
}
