@import 'base';

/* Grid Column Headers */

.slick-header-column.ui-state-default {
  height: 44px;
  border: none;
  position: relative;
}

.slick-header {
  padding-top: 5px;
  padding-bottom: 5px;
  .slick-header-column.input-field {
    &.slick-header-column-sorted {
      font-style: normal;
    }
    label {
      top: 15px;
      font-size: 0.9rem;
    }
    input[type=text] {
      margin-bottom: none;
      border-bottom: none;
      height: 36px;
      color: grey;
    }
    input[type=text]:focus:not([readonly]) {
      box-shadow: 0 1.5px 0 0 $filter_green;
      font-size: 12px;
      margin-left: -2px;
    }
    input[type=text]:focus:not([readonly]) + label {
      color: $filter_green;
    }
    .slick-sort-indicator, .slick-drag-indicator {
      display: block;
      position: absolute;
      i.material-icons {
        font-size: 14px;
        color: grey;
      }
    }
    .slick-sort-indicator {
      margin-bottom: 0;
      right: 30px;
      top: 22px;
      cursor: pointer;
      i.material-icons {
        background-color: white;
      }
    }
    .slick-drag-indicator {
      right: 10px;
      top: 28px;
      background-color: white;
      cursor: move;
      i.material-icons {
        transform: rotate(90deg);
      }
    }
    .slick-resizable-handle {
      width: 10px;
      background-color: white;
    }
  }
  .progress {
    bottom: -0.4rem;
    margin: 0;
  }
}
