@import "base";

// Grid Column Picker (Right click on Grid Table Header)

.column-container {
  padding-top: 10px;
}

.wulin-columnpicker {
  padding: 0;
  li {
    list-style: none;
    padding-left: $columnpicker-li-padding;
    padding-right: $columnpicker-li-padding;
  }
  hr {
    border-style: inset;
    border-width: 0.5px;
    border-color: $border-color;
    opacity: 0.2;
  }
  #reset_to_default {
    padding-left: $columnpicker-li-padding;
    padding-right: $columnpicker-li-padding;
    color: $label-color;
    span {
      float: right;
      padding-right: $columnpicker-li-padding;
      font-size: $font-size-small;
      padding-top: 4px;
    }
  }
}
