@import 'base';

/* Grid Cell */

.slick-cell {
  font-size: 12px;
  line-height: 25px;
  border-bottom-color: $grid_border_color;
  .editor-text {
    background: none repeat scroll 0 0 transparent;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0 none;
  }
  &.master_flashing {
    background-color: pink;
  }
  &.selected {
    background: #E3F2FD;
  }
  &.active {
    border: #2196F3 solid 1px;
  }
  &.editable {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  input[type=text]:focus:not([readonly]) {
    padding-left: .2rem;
    box-shadow: none;
    font-size: .9rem;
  }
  input[type=text]:not(.browser-default) {
    height: 100%;
    margin-bottom: 5px;
  }
  .autocomplete-content {
    margin-top: 2px;
    margin-left: -2px;
    width: 102%;
  }
  .chzn-container {
    top: 0;
    .chzn-single {
      box-shadow: none;
      margin-right: 4px;
      margin-bottom: 8px;
    }
    .chzn-drop {
      margin-right: 4px;
      margin-left: -2px;
    }
    .chzn-choices {
      margin-bottom: -5px;
      box-shadow: none;
    }
  }
}

.slick-row.loading {
  border-bottom: 1px solid $grid_border_color;
  .slick-cell.loading {
    border: none;
  }
}

.ui-widget-content.slick-row.even {
  .slick-cell.loading {
    background: linear-gradient(to right, #f7f7f7 8%, #ecf2f4 18%, #f7f7f7 33%);
  }
  .slick-cell.filtered {
    background: #E8F5E9;
  }
  .slick-cell.filtered.selected {
    background: #CEE8E7;
  }
}

.ui-widget-content.slick-row.odd {
  background: #F5F5F5;
  .slick-cell.loading {
    background: linear-gradient(to right, #e5e3e9 8%, #dddddd 18%, #e5e3e9 33%);
  }
  .slick-cell.filtered {
    background: #DEEBDF;
  }
  .slick-cell.filtered.selected {
    background: #CEE8E7;
  }
}

@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}

.slick-cell.loading {
  margin: 10px;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-size: 800px 104px;
  height: 96px;
}

.slick-cell, .slick-headerrow-column , .slick-footerrow-column {
  border-right: none;
}

.cell-effort-driven {
  text-align: center;
}
