#notification-btn {
  background-color: transparent;
  box-shadow: none;
}

#notification-list {
  width: 20rem;
  li {
    font-size: .8rem;
    i {
      height: 1rem;
      line-height: 1.8rem;
    }
  }
}
