.nav-wrapper .btn {
  background-color: transparent !important;
  box-shadow: none;
  padding: 0;
}

#notification-list {
  width: 23rem;
  li {
    font-size: .8rem;
    i {
      height: 1rem;
      line-height: 1.8rem;
    }
    div {
      float: left;
    }
  }
}

#help-modal {
  border-radius: 0;
  .modal-header {
    background-color: grey;
  }
  .modal-content {
    font-size: 1rem;
    #help-list li {
      display: flex;
      padding: 0.5rem 0 0.5rem 0;
      a {
        color: grey;
      }
    }
    #help-menu-link {
      i {
        float: left;
        margin-right: 0.5rem;
      }
      span {
        font-size: 0.8rem;
      }
    }
  }
}
