#notification-btn {
  background-color: transparent !important;
  box-shadow: none;
  padding: 0;
}

#notification-list {
  width: 20rem;
  li {
    font-size: .8rem;
    i {
      height: 1rem;
      line-height: 1.8rem;
    }
    div {
      float: left;
    }
  }
}

#help-list {
  border-radius: 0;
  .modal-header {
    padding: 1rem;
    background-color: grey;
    color: white;
    span {
      font-size: 1.3rem;
    }
  }
  li {
    display: flex;
    padding: 0.5rem 0 0.5rem 0;
    a {
      color: grey;
      span {
        font-size: 1rem;
      }
    }
  }
}
