$color-theme: 'blue';
@use 'materialize-css/sass/components/color-variables' as materialize_color;
$primary-color: var(--wulin-primary-color,materialize_color.color($color-theme, 'lighten-2')) !default
$secondary-color: var(--wulin-secondary-color, materialize_color.color($color-theme, 'base')) !default

@use 'material-icons/iconfont/material-icons'
@use 'materialize-css/sass/materialize'


@import 'lib/chosen'
@import 'lib/flatpickr_material_blue'
@import 'lib/jquery-ui-1.8.5.custom'
@import 'lib/lazyjsonviewer'
@import 'lib/materialnote/elements'
@import 'lib/materialnote/materialnote'
@import 'lib/materialnote/overrides'
@import 'lib/materialnote/variables'
@import 'lib/SlickGrid/slick.columnpicker'
@import 'lib/SlickGrid/slick.grid'
@import 'lib/SlickGrid/slick.headerbuttons'
@import 'lib/SlickGrid/slick.headermenu'
@import 'lib/SlickGrid/slick.pager'
@import 'lib/SlickGrid/slick.rowdetailview'
@import 'overrides/chosen.overrides'
@import 'overrides/flatpickr.override'
@import 'overrides/jquery.ui.overrides'
@import 'overrides/materialize.overrides'

@import 'menu'
@import '_base'
@import 'body'
@import 'checkbox'
@import 'color_columns'
@import 'context_menu'
@import 'editor'
@import 'form'
@import 'grid_states'
@import 'grid.cell'
@import 'grid.color'
@import 'grid.columnpicker'
@import 'grid.container'
@import 'grid.header'
@import 'grid.table.header'
@import 'mixins'
@import 'nav'
@import 'panel'
@import 'select2'
