@import "base";

$menu_width: 250px;
$menu_item_active_text: #2196F3;

.extended-panel {
  left: 0px !important;
}

#navigation {
  position: absolute;
  top: $header_height;
  left: 0;
  bottom: 0;
  width: $menu_width;
  font-size: 12px;
  border-right: 1px solid #cdc9c9;
  #menu {
    position: absolute;
    overflow-y: auto;
    right: 0;
    left: 10px;
    bottom: 0;
    ul {
      margin-top: 2px;
      margin-bottom: $margin;
      li {
        a {
          text-transform: uppercase;
          padding-left: $margin;
        }
        .item {
          padding-top: 10px;
          a {
            text-transform: none;
            color: $menu_text_color;
            display: flex;
            align-items: center;
            span {
              padding-left: 10px;
            }
          }
        }
        .item.active {
          a {
            color: $menu_item_active_text;
          }
        }
      }
    }
  }
}
