@import 'base';

#navigation {
  position: absolute;
  top: $nav-height;
  left: 0;
  bottom: 0;
  width: $menu-width;
  font-size: $font-size-small;
  border-right: 1px solid $border-color;
  background: color('grey', 'lighten-5');
  display: flex;
  flex-direction: column;
  #app-logo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
      height: 150px;
      width: 150px;
    }
  }
  #menu {
    margin-top: 20px;
    overflow-y: auto;

    ul {
      margin-top: 2px;
      margin-bottom: $menu-padding;
      // Menu groups
      li.submenu {
        a {
          font-size: 12px;
          padding-left: 24px;
          text-transform: uppercase;
          color: $text-color;
        }
        // Second level menu
        ul {
          margin-top: 4px;
          li.item {
            display: block;
            position: relative;

            .material-icons {
              position: relative;
              top: 6px;
              font-size: 21px;
              transition: color 0.4s ease;
              color: color('grey', 'darken-2');
            }

            a {
              width: 100%;
              text-transform: none;
              color: color('grey', 'darken-4');
              align-items: center;
              padding-left: 24px;
              padding-top: 7px;
              padding-bottom: 11px;

              span {
                padding-left: $menu-padding;
                font-size: 14px;
              }
            }

            a:hover {
              background: color('grey', 'lighten-3');
              .material-icons {
                color: black;
              }
            }

            a.reverse {
              width: auto;
              position: absolute;
              right: 10px;
              top: 0px;
              opacity: 0;
              padding-left: 10px;
              padding-right: 10px;
              transition: opacity 0.4s ease;
            }
          }

          li.active {
            a,
            a:hover {
              color: $menu-item-active-color;
              .material-icons {
                color: $menu-item-active-color;
              }
            }

            a.reverse {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.extended-panel {
  left: 0px !important;
}
