@import 'base';

.nav-wrapper .btn {
  background-color: transparent !important;
  box-shadow: none;
  padding: 0;
}

#menu-toggle {
  padding-left: 20px;
}

#activity-list {
  width: $activity-list-width !important;
  top: $nav-height !important;
  li {
    font-size: $font-size-small;
    i {
      height: 16px;
      line-height: 24px;
    }
    div {
      float: left;
    }
  }
}

#help-modal {
  border-radius: 0;
  padding: 0;
  .modal-header {
    background-color: $label-color;
  }
  .modal-content {
    font-size: $font-size-middle;
    padding: 8px 16px;
    #help-list li {
      display: flex;
      a {
        color: $label-color;
      }
    }
    #help-menu-link {
      i {
        float: left;
        margin-right: 8px;
      }
      span {
        display: block;
        padding-top: 2px;
      }
    }
  }
}
