#notificationContainer {
  position: absolute;
  bottom: 0;
  left: 60%;
  margin-left: -250px;
  width: 300px;
  z-index: 1002;
  .notification {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    height: 40px;
    padding: 13px 20px 13px 20px;
    background: #333333;
    vertical-align: middle;
    -moz-box-shadow: 1px 2px 5px black;
    -webkit-box-shadow: 1px 2px 5px black;
    box-shadow: 1px 2px 5px black;
    font-size: 14px;
    color: white;
  }
}
