@import base

.panel_container
  float: left
  fieldset.panel_wrapper
    height: 99%
    margin: 1%
    padding: 0
    position: relative
    .panel_btns
      margin-left: auto
      margin-right: auto
      width: 80%
      button
        width: 100%
        margin-top: 10px

  .panel-header
    position:     relative
    height:       40px
    background:   image-url('ui/panel_bar_bg.png')
    h2
      padding-top:    10px
      padding-left:   10px
      font-size:      16px
      font-weight:    bold
      color:          #555
      float:          left
      +text-shadow(#efefef 1px 1px 0)


