@import "base";

.panel_container {
  float: left;
  fieldset.panel_wrapper {
    height: 100%;
    margin: 0;
    border: 1px solid #E0E0E0;
    .panel_btns {
      i {
        cursor: pointer;
        opacity: 0.7;
      }
      i.disabled {
        cursor: default;
        opacity: 0.4;
      }
    }
  }
  .panel-header {
    position: relative;
    height: 40px;
    h2 {
      padding-top: 10px;
      padding-left: 10px;
      font-size: 16px;
      font-weight: bold;
      color: #555555;
      float: left;
    }
  }
}
