@import 'base';

.panel_container {
  float: left;
  fieldset.panel_wrapper {
    height: 100%;
    margin: 0;
    border: 1px solid $border-color;
    .panel_btns {
      i {
        cursor: pointer;
        opacity: 0.7;
      }
      i.disabled {
        cursor: default;
        opacity: 0.4;
      }
    }
  }
  .panel-header {
    position: relative;
    height: $panel-header-height;
    h2 {
      padding-top: $panel-header-padding;
      padding-left: $panel-header-padding;
      font-size: $font-size-middle;
      font-weight: bold;
      color: $text-color;
      float: left;
    }
  }
}
