@import base

$toolbar_button_width:  60px
$toolbar_button_height:  48px

.toolbar
  :float              right
  :display            inline
  :padding-right      5px
  :padding-top        5px
  .toolbar_item
    :float            right
    :margin-left      5px
    :text-align       center
    a
      :position           relative
      :cursor         	  pointer 
      :display            block
      :text-decoration    none
      :width              $toolbar_button_width
      :height             $toolbar_button_height
      :text-align         center
      :color              black
      :font-size          12px
      +text-shadow(white, 0px, 1px, 0)
      span
        :display          block
        :float            none
        :position         absolute
        :bottom           0px
        :left             0px
        :right            0px
        :height           12px

        
.toolbar_icon_filter
  :background             image-url('ui/search_icon.png') no-repeat top center
.toolbar_icon_refresh
  :background             image-url('ui/refresh_icon.png') no-repeat top center
.toolbar_icon_delete_x
  :background             image-url('ui/delete_icon_x.png') no-repeat top center
.toolbar_icon_delete
  :background             image-url('ui/delete_icon_trash.png') no-repeat top center
.toolbar_icon_add
  :background             image-url('ui/create_icon.png') no-repeat top center
.toolbar_icon_edit
  :background             image-url('ui/batch_update.png') no-repeat top center
.toolbar_icon_toggle
  :background             image-url('ui/toggle_icon.png') no-repeat top center
.toolbar_icon_sync
  :background             image-url('ui/sync_icon.png') no-repeat top center
.toolbar_icon_disabled
  +opacity(0.4)
  :cursor default !important
