@import "base";

$toolbar_button_width: 35px;
$toolbar_button_height: 30px;

.grid-header {
  position: relative;
  height: 70px;
  h2 {
    margin-bottom: 0px;
    padding-top: $margin;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #555555;
    float: left;
  }
  .selection-info {
    padding-left: 20px;
    font-size: 12px;
    color: #039be5;
  }
  .toolbar-wrapper {
    padding: 25px 30px 0 100px;
    overflow: hidden;
    .toolbar-global {
      i.material-icons {
        font-size: 18px;
      }
      ul {
        margin: 0;
        li.toolbar_item {
          float: left;
          padding-left: 30px;
          a {
            font-size: 12px;
            span {
              float: right;
              padding-left: 8px;
              font-weight: bold;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .toolbar-select {
      float: right;
      i.material-icons {
        font-size: 20px;
      }
      ul {
        margin: 0;
        li.toolbar_item {
          float: left;
          a {
            color: #5d5957;
            padding-left: 15px;
          }
        }
      }
    }
  }
  span.tb_prev, span.tb_next {
    position: absolute;
    cursor: default;
    top: 20px;
    width: 16px;
    height: 16px;
    &:hover {
      cursor: pointer;
    }
  }
  span.tb_prev {
    background: image-url("ui/prev_icon.png") no-repeat top center;
    float: left;
  }
  span.tb_next {
    background: image-url("ui/next_icon.png") no-repeat top center;
    right: 5px;
  }
}

// .toolbar_icon_filter {
//   background: image-url("ui/search_icon.png") no-repeat top center;
// }
//
// .toolbar_icon_refresh {
//   background: image-url("ui/refresh_icon.png") no-repeat top center;
// }
//
// .toolbar_icon_delete_x {
//   background: image-url("ui/delete_icon_x.png") no-repeat top center;
// }
//
// .toolbar_icon_delete {
//   background: image-url("ui/delete_icon_trash.png") no-repeat top center;
// }
//
// .toolbar_icon_add {
//   background: image-url("ui/create_icon.png") no-repeat top center;
// }
//
// .toolbar_icon_send_mail {
//   background: image-url('ui/mail_icon.png') no-repeat top center;
// }
//
// .toolbar_icon_edit {
//   background: image-url("ui/batch_update.png") no-repeat top center;
// }
//
// .toolbar_icon_batch_edit {
//   background: image-url("ui/form_edit_icon.png") no-repeat top center;
// }
//
// .toolbar_icon_toggle {
//   background: image-url("ui/toggle_icon.png") no-repeat top center;
// }
//
// .toolbar_icon_sync {
//   background: image-url("ui/sync_icon.png") no-repeat top center;
// }
//
// .toolbar_icon_remove {
//   background: image-url("ui/remove_icon.png") no-repeat top center;
// }

.toolbar_icon_disabled {
  @include opacity(0.4);
  cursor: default !important;
}

// .toolbar_icon_link {
//   background: image-url("ui/link_icon.png") no-repeat top center;
// }
//
// .toolbar_icon_unlink {
//   background: image-url("ui/unlink_icon.png") no-repeat top center;
// }
//
// .toolbar_icon_wizard {
//   background: image-url("ui/wizard_icon.png") no-repeat top center;
// }
//
// .toolbar_icon_allocation {
//   background: image-url("ui/allocation_icon.png") no-repeat top center;
// }
//
// .toolbar_icon_all {
//   background: image-url("ui/all_icon.png") no-repeat top center;
// }
//
// .toolbar_icon_grid {
//   background: image-url("ui/grid_icon.png") no-repeat top center;
// }
//
// .toolbar_icon_clock {
//   background: image-url("ui/clock_icon.png") no-repeat top center;
// }
//
// .toolbar_icon_pdf {
//   background: image-url("ui/pdf_icon.png") no-repeat top center;
// }
//
// .toolbar_icon_swap {
//   background: image-url("ui/swap_icon.png") no-repeat top center;
// }

.add_detail_action {
  min-width: 75px;
}

.configure_icon_s {
  background: image-url("ui/configure_icon_s.png") no-repeat top center;
}

.reset_icon_s {
  background: image-url("ui/reset_icon_s.png") no-repeat top center;
}
