#content.valign-wrapper
  #screen_content
    - begin
      = render :template => 'homepage/dashboard'
    - rescue

#confirm-modal.modal
  .modal-content
    %h5 Confirmation
    #confirm-content Are you sure to do this ?
  .modal-footer
    #confirmed-btn.btn.right Yes
    .modal-close.btn-flat.waves-effect No
