#content.valign-wrapper
  #screen_content
    - begin
      = render :template => 'homepage/dashboard'
    - rescue

#confirm-modal.info-modal.modal
  .modal-content
    %h5.modal-title Confirmation
    #confirm-content.modal-message Are you sure to do this ?
  .modal-footer
    #confirmed-btn.btn.right.modal-close Yes
    .modal-close.btn-flat.waves-effect No

#error-modal.info-modal.modal
  .modal-content
    %h5.modal-title Error
    #error-content.modal-message Something happened.
  .modal-footer
    .modal-close.btn.right OK

#load-modal.info-modal.modal{style: "width: 150px"}
  .modal-content
    .modal-message Loading...

:javascript
  $(function(){
    $('.info-modal').modal({
      onOpenEnd: function(modal, trigger) {
        modal.css('z-index', '9999');
      }
    });

    $('#confirm-modal').modal({
      onCloseEnd: function(modal, trigger) {
        $('#confirm-content').text('Are you sure to do this ?');
      }
    });
  });
