.panel_container{:id => "panel_#{panel.name}", :class => controller.screen.name, :style => panel.style}
  - if panel.title
    .panel-header
      %h2=panel.title
  = panel.render

:javascript
  $(function(){
    adjustPanelButtons("panel_#{panel.name}");
  })