.panel_container{:id => "panel_#{panel.name}", :class => screen.name, :style => panel.style}
  - if panel.title
    .panel-header
      %h2=panel.title
  = render :partial => "panel_partials/#{panel.partial}", :locals => {:panel => panel}

:javascript
  $(function(){
    adjustPanelButtons("panel_#{panel.name}");
  })