- controller.screen.grids.each_with_index do |grid, index|
  = render :partial => '/grid', :locals => {:grid => grid}
  - break if grid.fill_window?

:javascript
  $(function(){
    $("#db_info").hide();
  });