<div id='debug_info_link' style='margin-top: 25px'>
  <a href='#'>Debug information</a>
</div>
<div id='debug_info' style='display: none'>
  <p>
    Columns:
    <ul>
      <%- @grid.columns.each do |column| %>
        <li><%= column.name %></li>
      <% end -%>
    </ul>
  </p>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $("#debug_info_link").click(function() { $("#debug_info").toggle(); return false; });
  });
</script>
